#primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
    line-height: 0;

    .menu {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .search {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

#secondary {
    padding-block: 14px;
    border: 1px solid var(--stroke-color);
    border-inline: none;
    justify-content: space-between;
}

#secondary a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: var(--text-color-secondary);
}

#menu-toggle {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

#secondary a:hover {
    color: var(--brand-color);
}

@media (width <= 700px) {
    #primary {
        display: flex;
        flex-direction: row;

        & .menu strong {
            display: none;
        }

        & .search strong {
            display: none;
        }
    }

    #menu-toggle {
        display: block;
    }

    #secondary {
        display: none;
        flex-direction: column;
    }

    #secondary.open {
        display: flex;
    }

    #secondary a:hover {
        color: var(--brand-color);
    }
}
