section header {
    border-top: 1px solid var(--stroke-color);
    padding-block: 12px 24px;
    font: var(--text-span);

    .see-all {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    a {
        justify-self: end;
        align-items: center;
        gap: 8px;

    }
    .arrow {
        background: url(../assets/icons/ArrowRight.svg) no-repeat center;
        width: 16px;
        height: 16px;
    }

    &:hover .arrow {
        background: url(../assets/icons/ArrowRightHover.svg) no-repeat center;
        width: 16px;
        height: 16px;
    }

}

#featured {
    grid-area: featured;

    img {
        width: 100%;
        object-fit: cover;
        border-radius: 4px;
    }

    .card {
        border-radius: 4px;
        overflow: hidden;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            top: 50%;
            background: linear-gradient(180deg, transparent 0%, #020617 100%);
        }

        figcaption {
            position: absolute;
            bottom: 0;
            padding: 24px;

            &:has(.text-lg) {
                padding: 12px;
            }

            h2 {
                margin-top: 8px;
            }
        }
    }
}

#weekly {
    grid-area: weekly;

    &>div {
        grid-template-columns: repeat(4, 1fr);
    }

    img {
        width: 100%;
        height: auto;
    }

    .see-all img {
        max-width: 16px;
    }

    figure {
        position: relative;

        .content-tag {
            position: absolute;
            top: 8px;
            left: 8px;
        }

        p {
            margin-top: 8px;
            font-weight: 800;
        }
    }
}

#ai {
    grid-area: ai;
}

aside {
    grid-area: aside;
}

#more {
    margin-top: 32px;
}

@media (width <=700px) {
    .grid {
        display: flex;
        flex-direction: column;
    }

    #ai article {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "image text";

        & .ia-image {
            width: fit-content;
        }

        & .ia-text {
            grid-area: text;
        }

        & .ia-image {
            grid-area: image;
        }
    }

    .more-aside {
        display: flex;
        flex-direction: row;

        & img {
            margin-right: 60px;
        }
    }

    .more-aside:nth-child(5) {
        margin-bottom: 24px;
    }

    .see-all a {
        display: flex;
        flex-direction: row;
    }
}

@media (width <=400px) {
    .see-all {
        display: flex;
        flex-wrap: wrap;
        
        & a {
            margin-top: 4px;
        }
    }
}