.grid {
    display: grid;
}

.grid-flow-col {
    grid-auto-flow: column;
}

.grid-cols-2 {
    grid-template-columns: 1fr 1fr;
}

.gap-16 {
    gap: 16px;
}

.gap-32 {
    gap: 32px;
}

.text-2xl {
    font: var(--h1);
    font-size: clamp(1.2rem, 2vw, 1.5rem);
}

.text-xl {
    font: var(--h2);
    font-size: clamp(0.5rem, 2rw, 1rem);
}

.text-lg {
    font: var(--h3);
    font-size: clamp(0.5rem, 2rw, 0.875rem);
}

.text-sm {
    font: var(--text-sm);
}